/*
 *
 * Some other fonts considered:
 * https://www.whatfontis.com/CR_Campaign-Rough-otf-400.font?text=MASSANET
 * https://www.myfonts.com/products/text-secession-311147
 * https://creativemarket.com/opencitydesignco/4179200-The-Vintage-Wartime-Collection
 * https://www.whatfontis.com/CR_Safeway-Black-otf-900.font
 * https://www.myfonts.com/products/film-silentina-258572
 * https://www.myfonts.com/products/medium-roslyn-321823
 * https://www.whatfontis.com/CR_CushingTwo-otf-700.font
 * https://www.myfonts.com/products/bold-borka-13757
 *
 */

@font-face {
  font-family: "BunaeroFree";
  src: url('fonts/BunaeroFree/font.woff2') format('woff2'), url('fonts/BunaeroFree/font.woff') format('woff');
}

:root {
  --special-red: #b33;
  --unsure-grayscale-percent: 75%;
  --hue-shift-to-purple: 50deg;
  --hue-shift-to-purple-pink: 75deg;
  --hue-shift-to-pink: 100deg;
  --hue-shift-to-pink-red: 120deg;
  --hue-shift-to-red: 145deg;
  --hue-shift-to-red-orange: 165deg;
  --hue-shift-to-orange: 170deg;
  --hue-shift-to-yellow: 190deg;
  --hue-shift-to-yellow-green: 210deg;
  --hue-shift-to-green: 244deg;
  --hue-shift-to-green-blue: 280deg;
  --hue-shift-to-blue: 300deg;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

/* https://leafletjs.com/examples/mobile/ */
html, body, #map {
  height: 100%;
  width: 100vw;
}

#map {
  background-color: lightgray;
}

#modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-container, #modal-open-button {
  z-index: 401; /* Leaflet UI seems to max at 400 */
}

.control {
  font-size: 22px;
}

#scrim {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
}

#modal-close-button {
  float: right;
  margin-left: 1rem;
  margin-right: -0.5rem;
  margin-top: -0.5rem;
  border: none;
  background: none;
  font-size: 1.5rem;
  color: dimgray;
}

#modal {
  margin: 6rem 1rem;
  width: 630;
  max-height: 75%;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  line-height: 1.75rem;
  overflow: scroll;
}

#modal p {
  line-height: 1.25rem;
}

h1 {
  font-family: BunaeroFree;
  color: var(--special-red);
  margin-bottom: -2px;
  line-height: 2.5rem;
}

h1, h2 {
  margin-top: -4px;
}

#credits {
  padding-left: 0;
  margin-bottom: 2rem;
}

dd {
  margin-inline-start: 1.5rem;
}

#info hr {
  border: 1px solid var(--special-red);
}

hr {
  border: 0.5px solid gray;
}

.good {
  color: forestgreen;
}

/* https://stackoverflow.com/a/64643952/15487978 */
[hidden] {
  display: none !important
}

.leaflet-popup-content {
  overflow: scroll;
  max-height: 300px;
}

.popup-photo {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 0.5rem;
}

/* https://stackoverflow.com/questions/23567203/leaflet-changing-marker-color */
/* https://stackoverflow.com/questions/41590102/change-leaflet-marker-icon */

.fountain-icon {
  /* blue, as-is */
}

/* https://stackoverflow.com/a/60729919/15487978 */
.unsure.fountain-icon {
  filter: grayscale(var(--unsure-grayscale-percent));
}

.farmhouse-icon {
  filter: hue-rotate(var(--hue-shift-to-purple));
}

.unsure.farmhouse-icon {
  filter: hue-rotate(var(--hue-shift-to-purple)) grayscale(var(--unsure-grayscale-percent));
}

.nonextant-farmhouse-icon {
  filter: hue-rotate(var(--hue-shift-to-yellow));
}

.unsure.nonextant-farmhouse-icon {
  filter: hue-rotate(var(--hue-shift-to-yellow)) grayscale(var(--unsure-grayscale-percent));
}

.tree-icon {
  filter: hue-rotate(var(--hue-shift-to-green));
}

.unsure.tree-icon {
  filter: hue-rotate(var(--hue-shift-to-green)) grayscale(var(--unsure-grayscale-percent));
}

.bridge-icon {
  filter: hue-rotate(var(--hue-shift-to-orange));
}

.unsure.bridge-icon {
  filter: hue-rotate(var(--hue-shift-to-orange)) grayscale(var(--unsure-grayscale-percent));
}

.house-icon {
  filter: hue-rotate(var(--hue-shift-to-pink));
}

.unsure.house-icon {
  filter: hue-rotate(var(--hue-shift-to-pink)) grayscale(var(--unsure-grayscale-percent));
}

.saddle-icon {
  filter: hue-rotate(var(--hue-shift-to-red));
}

.unsure.saddle-icon {
  filter: hue-rotate(var(--hue-shift-to-red)) grayscale(var(--unsure-grayscale-percent));
}

.mine-icon {
  filter: hue-rotate(var(--hue-shift-to-red-orange));
}

.unsure.mine-icon {
  filter: hue-rotate(var(--hue-shift-to-red-orange)) grayscale(var(--unsure-grayscale-percent));
}

.monument-icon {
  filter: hue-rotate(var(--hue-shift-to-purple-pink));
}

.unsure.monument-icon {
  filter: hue-rotate(var(--hue-shift-to-purple-pink)) grayscale(var(--unsure-grayscale-percent));
}

.peak-icon, .cave-icon {
  filter: hue-rotate(var(--hue-shift-to-green-blue));
}

.unsure.peak-icon, .unsure.peak-icon {
  filter: hue-rotate(var(--hue-shift-to-green-blue)) grayscale(var(--unsure-grayscale-percent));
}

.fort-icon {
  filter: hue-rotate(var(--hue-shift-to-pink-red));
}

.unsure.fort-icon {
  filter: hue-rotate(var(--hue-shift-to-pink-red)) grayscale(var(--unsure-grayscale-percent));
}

.mill-icon {
  filter: hue-rotate(var(--hue-shift-to-yellow-green));
}

.unsure.mill-icon {
  filter: hue-rotate(var(--hue-shift-to-yellow-green)) grayscale(var(--unsure-grayscale-percent));
}

.chapel-icon {
  filter: hue-rotate(var(--hue-shift-to-blue));
}

.unsure.chapel-icon {
  filter: hue-rotate(var(--hue-shift-to-blue)) grayscale(var(--unsure-grayscale-percent));
}

.track-start-icon {
  filter: hue-rotate(var(--hue-shift-to-green));
}

.track-end-icon {
  filter: hue-rotate(var(--hue-shift-to-red));
}


.offline-resources > dt {
  padding-top: 0.5rem;
}

.offline-resources > dd {
  padding-bottom: 0.5rem;
}

.offline-resource {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  flex-shrink: 0;
  border: 4px solid lightgray;
  border-top: 4px solid cornflowerblue;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.progress {
  color: cornflowerblue;
  font-family: monospace;
}

.spinner-and-progress {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#storage-details {
  margin-top: 1rem;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

#refresh-stats-button {
  float: right;
}

.notice {
  color: orange;
}

.zoom-indicator {
  border: 2px solid #AAA;
}
