body {
  font-family: sans-serif;
  padding: 1rem;
  max-width: 600px;
}

h1 {
  font-size: 1.75rem;
}

table {
  border-collapse: collapse;
}

#geolocation-table {
  width: 100%;
  margin-bottom: 2rem;
}

th, td {
  hyphens: auto;
}

#overview th, #overview td {
  border: 0.5px solid;
  min-width: 3rem;
  padding: 0.5rem;
}

@media (max-width: 400px) {
  #overview th, #overview td {
    padding: 0.25rem;
    min-width: 1.5rem;
  }
}

#details th, #details td {
  min-width: 1.5rem;
  padding: 0.25rem;
}

#details {
  margin-bottom: 10rem;
}

td.numeric {
  text-align: right;
  font-family: monospace;
  font-size: 1rem;
}

details {
  margin-bottom: 1rem;
}

summary {
  font-weight: bold;
  margin-bottom: 1rem;
}

#overview {
  margin-bottom: 2rem;
}

#nav-back, a.back-to-top {
  float: right;
}

.group-index-table {
  width: 100%;
}

.extra-status-indicators {
  float: right;
}
