:root {
  --hue-shift-to-red: 145deg;
  --hue-shift-to-green: 244deg;
}

body {
  font-family: sans-serif;
  max-width: 600px;
  padding: 0.5rem;
}

h1 {
  margin-top: 0;
}

pre {
  font-size: 1rem;
}

ul li {
  padding: 0.25rem;
}

table {
  border-collapse: collapse;
  text-align: left;
}

th {
  font-weight: bold;
}

table.properties th:after {
  content: ':';
}

th, td {
  /*border: 0.5px solid;*/
  min-width: 3rem;
  padding-left: 0;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  vertical-align: top;
  hyphens: auto;
}

/* TODO: Put in common place */
.description {
  padding: 0.5rem;
  background: #eee;
  border: 1px solid gray;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

blockquote td {
  padding-top: 0;
  padding-bottom: 0;
}

.description th:empty {
  display: none;
}

blockquote {
  font-size: 14px;
  border-left: 1px solid gray;
  margin-left: 0;
  padding-left: 1em;
}

.photo-with-metadata {
  width: 100%;
  background: #eee;
  margin: 1rem 0;
}

.photo-with-metadata img {
  display: block;
  width: 100%;
}

.photo-metadata {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 0.5rem 1rem;
}

.photo-metadata td {
  word-wrap: anywhere;
}

#nav-back {
  float: right;
}

#map {
  width: 100%;
  height: 400px;
  background: lightgray;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 500px) {
  #map {
    height: 300px;
  }
}

/* TODO: Put in common place */
a.back-to-top {
  float: right;
}

.section {
  margin: 2em 0;
}

blockquote {
  font-family: serif;
}

.footnotes {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.8em;
}

.mentions {
  list-style: none;
  padding: 0;
}

.mentions li {
  margin: 1em 0;
  padding: 0;
}

cite > p {
  margin:  0;
}

q {
  font-style: italic;
}

q::before {
  content: "";
}

q::after {
  content: "";
}

.track-start-icon {
  filter: hue-rotate(var(--hue-shift-to-green));
}

.track-end-icon {
  filter: hue-rotate(var(--hue-shift-to-red));
}
